body {
  min-height: 100vh;
}

main {
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

#side-bar {
  width: 280px;
}

/* section {
  min-height: 100vh;
} */

hr {
  color: #333;
}

.nav-item:hover {
  background-color: #d2f4ea;
}